.my-input {
    border: none;
    border-bottom: 2px solid rgb(51, 51, 51);
    outline: none;
  }
  
  .img-back {
    background: url(./signup.png);
    background-size: cover;
    height: 100%;
    width:auto;
    background-position: center;
  }
  
  .my-card-body {
    padding: 10px 100px;
  }
  
  @media screen and (max-width: 500px) {
    .img-back {
      height: 100px;
    }
  
    .my-card-body {
      padding: 50px 20px;
    }
  }